<head>
	<meta charset = "utf-8" />
        <link rel="stylesheet"
        href="./style.css"/>    
</head>
<body>
	<div class="ui_box">
		<h3>상하 정렬 롤링 리스트</h3>
		<div class="photo_container">
			<ul class="photo_list column">
				<li class="photo_box">
					<div class="photo"></div>
					<div class="description">Title1</div>
				</li>
				<li class="photo_box">
					<div class="photo"></div>
					<div class="description">Title2</div>
				</li>
				<li class="photo_box">
					<div class="photo"></div>
					<div class="description">Title3</div>
				</li>
				<li class="photo_box">
					<div class="photo"></div>
					<div class="description">Title4</div>
				</li>
			</ul>
		</div>
	</div>
</body>