ul,li{
	list-style: none;
}
div,ul,li,body{
	margin: 0;
	padding: 0;
}
a{
    /* 링크 색상, 밑줄 제거 */
	text-decoration: none;
	color: inherit;
}
.tablist{
    display: flex;
    justify-content: space-between;
    flex: 0 0 60px;
    border: 1px solid rgba(0,0,0,0.12);
    background: #fff;
}
.tab{
    position: relative;
    display: block;
    line-height: 60px;
    font-weight: bold;
    padding: 0 15px;
}
.tab.selected:after{
    position: absolute;
    bottom: 19px;
    left: 13px;
    right: 13px;
    height: 9px;
    background: rgba(0,209,69,0.7);
    content: '';
}