<head>
	<meta charset = "utf-8" />
        <link rel="stylesheet"
        href="./style.css"/>    
</head>
<div class="map_wrap">
	<footer class="footer">
		<div class="land_information"><a href="http://www.naver.com/policy/service.html" class="land_information_link" target="_blank">이용약관</a><a href="http://land.naver.com/index/declaredArticlePolicy.nhn" class="land_information_link" target="_blank">매물신고운영</a><a href="http://policy.naver.com/rules/privacy.html" class="land_information_link important" target="_blank">개인정보처리방침</a><a href="https://help.naver.com/support/service/main.nhn?serviceNo=746" class="land_information_link" target="_blank">부동산 고객센터</a></div><p class="land_alert">네이버부동산은 제휴 부동산 정보업체가 전송한 매물 정보가 노출될 수 있도록 광고 플랫폼 및 부동산 관련 정보를 제공하며, 제휴 부동산 정보업체가 네이버 부동산으로 전송한 매물 정보 및 이와 관련한 실제 거래에 대하여 어떠한 책임도 부담하지 않습니다.</p><div class="land_copyright"><a href="#" target="_blank" aria-label="네이버"><i class="icon icon_naver_logo" aria-hidden="true"></i></a>Copyright ⓒ <a href="http://www.navercorp.com/ko/index.nhn" target="_blank" class="land_copyright_point">NAVER Corp.</a> All Rights Reserved.</div>
  </footer>
</div>
