<head>
	<meta charset = "utf-8" />
        <link rel="stylesheet"
        href="./style.css"/>    
</head>

<body>
<div class="ui_box">
	<h3>가로세로 비율을 유지하는 반응형 박스</h3>
	<ul class="channel_list">
		<li class="item">
			<div class="thumb">
				<img class="image" src="http://thumbnail.egloos.net/600x0/http://pds21.egloos.com/pds/201811/13/74/d0014374_5beaaeb116477.jpg" width="100%" height="100%">
			</div>
			<strong class="title">
				가나다라마바사아자차카타파하
			</strong>
		</li>
		<li class="item">
			<div class="thumb"></div>
			<strong class="title">
				가나다라마바사
			</strong>
		</li>
		<li class="item">
			<div class="thumb">
				<img class="image" src="http://thumbnail.egloos.net/600x0/http://pds21.egloos.com/pds/201811/13/74/d0014374_5beaaeb116477.jpg" width="100%" height="100%">
			</div>
			<strong class="title">
				가나다라마바사
			</strong>
		</li>
		<li class="item">
			<div class="thumb">
				<img class="image" src="http://thumbnail.egloos.net/600x0/http://pds21.egloos.com/pds/201811/13/74/d0014374_5beaaeb116477.jpg" width="100%" height="100%">
			</div>
			<strong class="title">
				가나다라마바사아자차카타파하
			</strong>
		</li>
		<li class="item">
			<div class="thumb">
				<img class="image" src="http://thumbnail.egloos.net/600x0/http://pds21.egloos.com/pds/201811/13/74/d0014374_5beaaeb116477.jpg" width="100%" height="100%">
			</div>
			<strong class="title">
				가나다라마바사아자차카타파하
			</strong>
		</li>

	</ul>
</div>
</body>