<head>
	<meta charset = "utf-8" />
        <link rel="stylesheet"
        href="./style.css"/>    
</head>
<body>
	<div class="ui_box">
		<h3>폼 타이틀 수직 중앙정렬</h3>
		<div class="row_wrap">
			<div class="row">
				<span class="title_content">채널 키워드</span>
				<input class="txtfield" type="text" name="search" placeholder="키워드와 키워드 사이는 쉼표(콤마)로 구분해주세요.">
			</div>
			<div class="row">
				<span class="title_content">Channel keyword</span>
				<input class="txtfield" type="text" name="search" placeholder="키워드와 키워드 사이는 쉼표(콤마)로 구분해주세요.">
			</div>
			<div class="row">
				<span class="title_content big">채널 키워드</span>
				<input class="txtfield big" type="text" name="search" placeholder="키워드와 키워드 사이는 쉼표(콤마)로 구분해주세요.">
			</div>
			<div class="row">
				<span class="f big">Channel keyword </span>
				<input class="txtfield big" type="text" name="search" placeholder="키워드와 키워드 사이는 쉼표(콤마)로 구분해주세요.">
			</div>
			<div class="row">
				<span class="f big">Channel keyword keyword</span>
				<input class="txtfield big" type="text" name="search" placeholder="키워드와 키워드 사이는 쉼표(콤마)로 구분해주세요.">
			</div>
		</div>
	</div>
</body>